* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridItem {
  border: 1px solid black;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
}

.hovered {
  background-color: black;
}

.grid-container {
  width: 700px; /* Adjust the container width as needed */
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
